.profile img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.about-section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
   background-color: #1d2743;

  padding: 30px;
}
.profile{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.anas{
    font-family: 'Poppins', sans-serif;
font-size: 24px;
font-weight: 600;
letter-spacing: 1px;
text-transform: uppercase;
color: #ffffff;

}
.introduction p{
font-size: 20px;
line-height: 1.4;
color: rgba(240, 248, 255, 0.897);
width: 90%;
margin-bottom: 20px;

}
.hello{
  margin-bottom: 10px;
  font-size: 36px;
  width: 600;
  font-weight: 600;
}
.about-buttons{
 
  display: flex;
  align-items: center;
  gap: 15px;
 margin-top: 15px;
}
.about-button{
  background: linear-gradient(90deg, #434C67, #3A4463);
  color: white;
  border-radius: 50px;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  outline: none;
}
.keys {
  width: 9%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
color: white;
}
.introduction{
  display: flex;
 
 
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  padding: 30px;
}
keys p{
  color: white;
}