.service-section{
      padding: 80px 80px 0px 80px;
    display: flex;
    flex-direction: column;
}
.service-heading{
  
  font-size: 36px;
  width: 600;
  font-weight: 600;
  margin-bottom: 80px;
 
}
.icon-property{
    background-color: #3C4456;
    padding: 15px;
    border-radius: 20px;
}
.icon{
  
  
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   width: 70px;
   height: 100px;

}

.card-service{
    display: flex;
    flex-direction: row;
  gap: 30px;
  padding: 20px;
 
  background: linear-gradient(90deg, #434C67, #3A4463);

   
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* For Safari support */
    
    
    border: 1px solid rgba(255, 255, 255, 0.15);
    
    
    border-radius: 12px;
    
    
    background-image: linear-gradient(
        135deg,
        rgba(58, 64, 80, 0.7) 0%, 
        rgba(43, 49, 63, 0.7) 100%)
}

.card-service p{
   width: 80%;
 margin-top: 10px;
 
}
.servicecard {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 40px; /* spacing between cards */
  justify-items: center; /* optional: center align cards horizontally */
}
.countsection{
    padding: 150px 0px;
}
.count{
    display: flex;
    flex-direction: row;
    gap: 110px;
}
.count-card h2{
    font-size: 4.3rem;
    color: #ffffff;
    font-weight:700;
}
.count-card p{
    font-size: 1.1rem;
    color: #ffffffbb;
}
.count-heading{
  
  font-size: 36px;
  width: 600;
  font-weight: 600;
  margin-bottom:50px;
 
}