.work-section{
    padding: 0px 80px 80px 80px;
    
   
   
}
.work-heading{
    
  width: 600;
  font-weight: 520;
  margin-bottom: 60px;
}
.work-grid{
   display: flex;
   flex-direction: column;
   gap: 70px;

}
.work-card{
    display: flex;
    gap: 50px;
}
.work-title a{
    color: white;
    outline: none;
}
.card-image img{
height: 350px;
width: 500px;
border-radius: 40px;
object-fit: cover;
}
.work-title{
    font-size: 40px;
  
}
.work-card p{
font-size: 24px;

}
.work-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.work-buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.work-buttons button{
  background: linear-gradient(90deg, #434C67, #3A4463);
  color: white;
  border-radius: 30px;
  padding: 25px;
  font-size: 18px;
  font-weight: 600;
  outline: none;
}

